{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

{% if items.next %}
<div class="load-more text-center">
  <ul{{ attributes }}>
  <li class="pager__item">
    <a class="button load-more-btn" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next">{{ options.button_text }}</a>
  </li>
</ul></div>
{% endif %}
