{% if label_hidden %}
  <ul class="clearfix">
    {% for item in items %}
      <li{{ item.attributes }}>{{ item.content }}</li>
    {% endfor %}
  </ul>
{% else %}
  <span{{ title_attributes.addclass('title-text') }}>{{ label }}</span>
  <ul class="clearfix">
    {% for item in items %}
      <li{{ item.attributes }}>{{ item.content }}</li>
    {% endfor %}
  </ul>
{% endif %}
