<div{{ attributes.addclass('ccn-comments') }}>
  <div class="peoples-comments mb-100">
    {% if comments and not label_hidden %}
      {{ title_prefix }}
      <h3{{ title_attributes.addclass('title-text mb-60') }}>{{ label }}</h3>
      {{ title_suffix }}
    {% endif %}
      {{ comments }}
  </div>
  {% if comment_form %}
    <div class="comment-form">
      <h3{{ content_attributes.addclass('title-text mb-60') }}>{{ 'Leave a comment'|t }}</h3>
      {{ comment_form }}
    </div>
  {% endif %}
</div>
