<ul class="clearfix">
  {% for item in items %}
    <li{{ item.attributes }}>
      <small class="icon">
        <i class="flaticon-checked"></i>
      </small>
      <span class="info-text">
        {{ item.content }}
      </span>
    </li>
  {% endfor %}
</ul>
