{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes).addClass('widget widget_cixposttype ul-li-block clearfix') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('widget_title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass('ccn-content') }}>
      {{ content }}
    </div>
  {% endblock %}
</div>
