{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <li>
      <span class="item-icon">
        <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="icon_not_found">
      </span>
      <h3 class="item-title mb-0">{{ content.field_title }}</h3>
    </li>
  {% endblock %}
{% endblock paragraph %}
