{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="col-lg-4 col-md-12 col-sm-12 ccn--identify--contact-detail">
      <div class="contact-info-item text-center ul-li-block">
        <span class="item-icon" style="background-image: url({{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }});">
          <i class='{{ content.field_icon_class.0 }}'></i>
        </span>
        <ul class="clearfix">
          <li>{{ content.field_body_plain }}</li>
        </ul>
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
