{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="service-grid-item text-center">
        <span class="item-icon" style="background-image: url({{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }});">
          <i class="{{ content.field_icon_class.0 }}"></i>
        </span>
        <h2 class="item-title mb-30">{{ content.field_title }}</h2>
        <p>
          {{ content.field_body_plain }}
        </p>
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
