{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div id="tab-{{ paragraph.id() }}" class="tab-pane fade">
      <div class="row justify-content-lg-start justify-content-md-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <div class="feature-content">
            <h3 class="item-title mb-30">
              {{ content.field_title_2 }}
            </h3>
            <p class="mb-30">
              {{ content.field_body_plain }}
            </p>
            <div class="instructions-list ul-li-block">
              {{ content.field_feature }}
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12">
          <div class="feature-image text-center">
            <img src="{{ file_url(content.field_image_2[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
            <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="" class="ccn--tab-icon">
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
