{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="process-item">
      <div class="item-icon">
        <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
      </div>
      <div class="item-content">
        <h3 class="item-title">{{ content.field_title }}</h3>
        <p class="mb-0">
          {{ content.field_body_plain }}
        </p>
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
