{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="item">
      <a href="{{ content.field_link.0['#url'] }}" class="service-item">
        <span class="item-icon" style="background-image: url({{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }});">
          <i class='{{ content.field_icon_class.0 }}'></i>
        </span>
        <small class="item-title">{{ content.field_title }}</small>
      </a>
    </div>
  {% endblock %}
{% endblock paragraph %}
