{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <blockquote class="blockquote">
      <p class="mb-0">
        {{ content.field_body_plain }}
      </p>
    </blockquote>
  {% endblock %}
{% endblock paragraph %}
