{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <li>
      <h4>
        <span class="count-text">{{ content.field_title_2 }}</span>{{ content.field_title_3 }}</h4>
      <small class="counter-title">{{ content.field_title }}</small>
    </li>
  {% endblock %}
{% endblock paragraph %}
