{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="col-lg-3 col-md-6 col-sm-12 ccn--identify--team-member">
      <div class="team-member-bordered text-center">
        <div class="member-image mb-30 clearfix">
          <div class="image-container">
            <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
            <ul class="member-social-links clearfix">
              {{ content.field_paragraphs }}
            </ul>
          </div>
          <small class="animate-item-1 animate-item">
            <img src="{{ base_path ~ directory }}/images/team/shapes/cross.png" alt="image_not_found">
          </small>
          <small class="animate-item-2 animate-item">
            <img src="{{ base_path ~ directory }}/images/team/shapes/circle.png" alt="image_not_found">
          </small>
          <small class="animate-item-3 animate-item">
            <img src="{{ base_path ~ directory }}/images/team/shapes/circle-half.png" alt="image_not_found">
          </small>
          <small class="animate-item-4 animate-item">
            <img src="{{ base_path ~ directory }}/images/team/shapes/cross.png" alt="image_not_found">
          </small>
          <small class="animate-item-5 animate-item">
            <img src="{{ base_path ~ directory }}/images/team/shapes/box.png" alt="image_not_found">
          </small>
          <small class="animate-item-6 animate-item">
            <img src="{{ base_path ~ directory }}/images/team/shapes/circle-half.png" alt="image_not_found">
          </small>
          <small class="animate-item-7 animate-item">
            <img src="{{ base_path ~ directory }}/images/team/shapes/flow.png" alt="image_not_found">
          </small>
        </div>
        <h3 class="member-name">{{ content.field_title }}</h3>
        <span class="member-title">{{ content.field_title_2 }}</span>
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
