{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="item second-item" style="background-image: url({{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }});">
      <div class="container">
        <div class="row justify-content-lg-between justify-content-md-center">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="slider-content">
              <h1 class="title-text mb-30">
                {{ content.field_title }}
              </h1>
              <p class="paragraph-text mb-60">
                {{ content.field_body_plain }}
              </p>
              <div class="newsletter-form">
                {{ content.field_block }}
                <p class="paragraph-text mb-0">{{ content.field_title_2 }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="slider-image scene clearfix">
              <span class="phone-image" data-depth="0.2">
                <small data-aos="zoom-out" data-aos-duration="500" data-aos-delay="200">
                  <img src="{{ file_url(content.field_image_2[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                </small>
              </span>
              <span class="commentbar-image-1" data-depth="0.5">
                <small data-aos="fade-left" data-aos-duration="1000" data-aos-delay="700">
                  <img src="{{ file_url(content.field_image_3[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                </small>
              </span>
              <span class="commentbar-image-2" data-depth="0.5">
                <small data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000">
                  <img src="{{ file_url(content.field_image_4[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                </small>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
