{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <li>
      <div class="item-icon" style="background-image: url({{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }});">
        <i class='{{ content.field_icon_class.0 }}'></i>
      </div>
      <div class="item-content">
        <h3 class="item-title mb-15">{{ content.field_title }}</h3>
        <p class="mb-0">
          {{ content.field_body_plain }}
        </p>
      </div>
    </li>
  {% endblock %}
{% endblock paragraph %}
