{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <li>
      <a href="{{ content.field_link.0['#url'] }}" class="store-btn {{ content.field_color.0 }}">
        <span class="icon">
          <i class="{{ content.field_icon_class.0 }}"></i>
        </span>
        <strong class="title-text">
          <small>{{ content.field_title }}</small>
          {{ content.field_title_2 }}
        </strong>
      </a>
    </li>
  {% endblock %}
{% endblock paragraph %}
