{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="queistions-item" data-aos="fade-up" data-aos-duration="450" data-aos-delay="300">
      <h3 class="item-title mb-15">{{ content.field_title }}</h3>
      <p class="mb-0">
        {{ content.field_body_plain }}
      </p>
    </div>
  {% endblock %}
{% endblock paragraph %}
