{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div id="tab-{{ paragraph.id() }}" class="tab-pane fade">
      <div class="queistions-container">
        {{ content.field_paragraphs }}
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
