{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="video-item">
      <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
      <span class="overlay"></span>
      <a class="popup-video" href="{{ content.field_youtube_video_embed.0 }}" data-aos="zoom-in" data-aos-delay="100">
        <i class='uil uil-play'></i>
      </a>
    </div>
  {% endblock %}
{% endblock paragraph %}
