{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
  <div class="item first-item" style="background-image: url({{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }});">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-12">
              <div class="slider-content text-center">
                <h3>{{ content.field_title_2 }}</h3>
                <h2>
                  {{ content.field_title }}
                </h2>
                <div class="subscribe-form">
{{ content.field_block }}
                  <p>{{ content.field_title_3 }}</p>
                </div>
                <span class="phone-image">
                  <img src="{{ file_url(content.field_image_2[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>


  {% endblock %}
{% endblock paragraph %}
