{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="software-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300">
      <a class="software-logo" href="{{ content.field_link.0['#url'] }}">
        <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="logo_not_found">
      </a>
    </div>
  {% endblock %}
{% endblock paragraph %}
