{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="item clearfix">
      <div class="hero-image">
        <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
        <span class="icon" data-aos="zoom-in" data-aos-duration="450">
          <i class="flaticon-quotation"></i>
        </span>
        <small class="design-image">
          <img src="{{ base_path ~ directory }}/images/testimonial/design-image-1.png" alt="image_not_found">
        </small>
      </div>
      <div class="testimonial-content">
        <div class="hero-info mb-60">
          <h4 class="hero-name">{{ content.field_title }}</h4>
          <span class="hero-title">{{ content.field_title_2 }}</span>
          <div class="rating-star ul-li clearfix">
            <ul class="clearfix">
              <li class="rated">
                <i class="fas fa-star"></i>
              </li>
              <li class="rated">
                <i class="fas fa-star"></i>
              </li>
              <li class="rated">
                <i class="fas fa-star"></i>
              </li>
              <li class="rated">
                <i class="fas fa-star"></i>
              </li>
              <li class="rated">
                <i class="fas fa-star"></i>
              </li>
            </ul>
          </div>
        </div>
        <p class="paragraph-text mb-0">
          {{ content.field_body_plain }}
        </p>
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
