{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <li>
      <a href="{{ content.field_link.0['#url'] }}">
        <i class="{{ content.field_icon_class.0 }}"></i>
      </a>
    </li>
  {% endblock %}
{% endblock paragraph %}
