{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="col-lg-3 col-md-6 col-sm-12 ccn--identify--team-member">
      <div class="team-member-grid text-center">
        <div class="member-image image-container clearfix">
          <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
          <ul class="member-social-links clearfix">
            {{ content.field_paragraphs }}
          </ul>
        </div>
        <div class="member-info">
          <h3 class="member-name">{{ content.field_title }}</h3>
          <span class="member-title">{{ content.field_title_2 }}</span>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
