{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="pricing-plan text-center {% if content.field_discount|render %} active-item {% endif %}">
        {% if content.field_discount|render %}<small class="offer-text">{{ content.field_discount }}</small>{% endif %}
        <h3 class="plan-title mb-30">{{ content.field_title }}</h3>
        <span class="item-icon mb-30" style="background-image: url({{ base_path ~ directory }}/images/icons/bg-0.png);">
          <i class="{{ content.field_icon_class }}"></i>
        </span>
        <h4 class="price-text mb-0">
          <sup>{{ content.field_title_3 }}</sup>{{ content.field_title_2 }}</h4>
        <div class="item-list ul-li-block clearfix">
          {{ content.field_feature }}
        </div>
        <a href="{{ content.field_link.0['#url'] }}" class="start-btn">{{ content.field_link.0['#title'] }}</a>
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
