{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <section id="testimonial-section" class="testimonial-section sec-ptb-160 bg-light-gray clearfix">
      <div class="container">
        <div class="section-title mb-100 text-center">
          <span class="sub-title mb-15">{{ content.field_subtitle }}</span>
          <h2 class="title-text mb-0">
            {{ title_prefix }}
            {% if label %}
              {{ label }}
            {% endif %}
            {{ title_suffix }}
          </h2>
        </div>
        <div id="testimonial-carousel" class="testimonial-carousel owl-carousel owl-theme">
          {{ content.field_paragraphs }}
        </div>
      </div>
    </section>
  {% endblock %}
</div>
