{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <section id="map-section" class="map-section clearfix">
      <div id="gmap" class="google-map"></div>
      <div class="contact-form">
        <h2 class="title-text mb-30">
          {{ title_prefix }}
          {% if label %}
            {{ label }}
          {% endif %}
          {{ title_suffix }}
        </h2>
        {{ content.field_block }}
      </div>
    </section>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        (function($) {
          // google map - start
          // --------------------------------------------------
          if ($('#gmap').length > 0) {
            new GMaps({
              div: '#gmap',
              lat: {{ content.field_latitude.0 }},
              lng: {{ content.field_longitude.0 }},
              scrollwheel: false,
              styles: [
                {
                  "featureType": "landscape",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#dddddd"
                    }, {
                      "lightness": 20
                    }
                  ]
                }, {
                  "featureType": "road.highway",
                  "elementType": "geometry.fill",
                  "stylers": [
                    {
                      "color": "#ffffff"
                    }, {
                      "lightness": 17
                    }
                  ]
                }, {
                  "featureType": "road.highway",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#ffffff"
                    }, {
                      "lightness": 29
                    }, {
                      "weight": 0.2
                    }
                  ]
                }, {
                  "featureType": "road.arterial",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#ffffff"
                    }, {
                      "lightness": 18
                    }
                  ]
                }, {
                  "featureType": "road.local",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#dddddd"
                    }, {
                      "lightness": 16
                    }
                  ]
                }, {
                  "featureType": "poi",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#ffffff"
                    }, {
                      "lightness": 21
                    }
                  ]
                }, {
                  "featureType": "poi.park",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#ffffff"
                    }, {
                      "lightness": 21
                    }
                  ]
                }, {
                  "elementType": "labels.text.stroke",
                  "stylers": [
                    {
                      "visibility": "on"
                    }, {
                      "color": "#ffffff"
                    }, {
                      "lightness": 16
                    }
                  ]
                }, {
                  "elementType": "labels.icon",
                  "stylers": [
                    {
                      "visibility": "on"
                    }
                  ]
                }
              ]
            }).addMarker({
              lat: {{ content.field_marker_latitude.0 }},
              lng: {{ content.field_marker_longitude.0 }},
              options: {
                icon: '{{ base_path ~ directory }}/images/map-mark.png'
              }
              // infoWindow: {   content: '<p> loaction</p>' }
            });
          }
          // google map - end
        }(jQuery));
      }, false);
    </script>
  {% endblock %}
</div>
