{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes).addClass('ccn--identify--services-slider') }}>
  {% block content %}
    <div id="service-section" class="service-section sec-ptb-160 pt-0 clearfix">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-title text-center mb-60">
              <p class="paragraph-text mb-0">
                {{ title_prefix }}{{ title_suffix }}{{ content.field_body_plain }}
              </p>
            </div>
          </div>
        </div>
        <div id="service-carousel" class="service-carousel owl-carousel owl-theme">
          {{ content.field_paragraphs }}
        </div>
      </div>
    </div>
  {% endblock %}
</div>
