{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <section id="faq-section" class="faq-section sec-ptb-160 bg-light-gray clearfix">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-8 col-sm-12">
            <div class="section-title mb-100 text-center" data-aos="fade-up" data-aos-duration="450" data-aos-delay="100">
              <span class="sub-title mb-15">{{ content.field_supertitle }}</span>
              <h2 class="title-text mb-30">
                {{ title_prefix }}
                {% if label %}
                  {{ label }}
                {% endif %}
                {{ title_suffix }}
              </h2>
              <p class="paragraph-text mb-0">
                {{ content.field_subtitle  }}
              </p>
            </div>
          </div>
        </div>
        <div class="queistions-container">
          <div class="">
            <div class="row justify-content-lg-start justify-content-md-center mb-60">
              {{ content.field_paragraphs }}
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="contact-info text-center" data-aos="fade-up" data-aos-duration="450" data-aos-delay="500">
                    {{ content.body }}
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endblock %}
    </div>
