{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <section id="faq-section" class="faq-section sec-ptb-160 bg-light-gray clearfix">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-8 col-sm-12">
            <div class="section-title mb-100 text-center" data-aos="fade-up" data-aos-duration="450" data-aos-delay="100">
              <span class="sub-title mb-15">{{ content.field_supertitle }}</span>
              <h2 class="title-text mb-30">{{ title_prefix }}
                {% if label %}
                  {{ label }}
                {% endif %}
                {{ title_suffix }}</h2>
              <p class="paragraph-text mb-0">
                {{ content.field_subtitle  }}
              </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-lg-start justify-content-md-center">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="faq-tabs-nav ul-li-block clearfix" data-aos="fade-right" data-aos-duration="450" data-aos-delay="300">
              <ul class="nav" role="tablist">
                {% set numTabsIndex = content.field_paragraphs['#items'] | length %}
                {% for i in 0..numTabsIndex %}
                  {% if content.field_paragraphs[i]['#paragraph'].id() %}
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#tab-{{ content.field_paragraphs[i]['#paragraph'].id() }}">{{ content.field_paragraphs[i]['#paragraph'].field_title.value }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              {{ content.body}}
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="tab-content">
              {{ content.field_paragraphs }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
</div>
