{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <section id="team-section" class="team-section sec-ptb-160 clearfix">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10 col-sm-12">
            <div class="section-title text-center mb-100">
              <h2 class="title-text mb-30">
                {{ title_prefix }}
                {% if label %}
                  {{ label }}
                {% endif %}
                {{ title_suffix }}</h2>
              <p class="paragraph-text mb-0">
                {{ content.field_body_plain }}
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          {{ content.field_paragraphs }}
        </div>
      </div>
    </section>
  {% endblock %}
</div>
