{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes).addClass('ccn--identify--fullwidth-feature-saas') }}>
  {% block content %}
    <section id="features-section" class="features-section sec-ptb-160 clearfix ccn-fullwidth-feature">
      <div class="container">
        <div class="feature-item">
          <div class="row justify-content-lg-between justify-content-md-center {% if '1' in content.field_text_align[0] %} ccn-row-reverse {% endif %}">
            <div class="col-lg-6 col-md-8 col-sm-12">
              <div class="feature-content p-0">
                <div class="section-title mb-60">
                  <span class="sub-title mb-15">{{ content.field_supertitle }}</span>
                  <h2 class="title-text mb-0">
                    {{ title_prefix }}
                    {% if label %}
                      {{ label }}
                    {% endif %}
                    {{ title_suffix }}
                  </h2>
                </div>
                <div class="mb-45">
                  {{ content.body }}
                  {% if content.field_features | render %}
                    <div class="info-list ul-li-block  clearfix">
                      {{ content.field_features }}
                    </div>
                  {% endif %}
                </div>
                <div class="btns-group ul-li clearfix">
                  <ul class="clearfix">
                    {% if content.field_paragraphs | render %}
                      {{ content.field_paragraphs }}
                    {% endif %}
                    {% if content.field_link | render %}
                      <li>
                        <a href="{{ content.field_link.0['#url'] }}" class="custom-btn">{{ content.field_link.0['#title'] }}</a>
                      </li>
                    {% endif %}
                    {% if content.field_link_2 | render %}
                      <li>
                        <a href="{{ content.field_link_2.0['#url'] }}" class="custom-btn-underline">{{ content.field_link_2.0['#title'] }}</a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-10 col-sm-12">
              <div class="feature-image-8">
                <span class="image-1" data-aos="zoom-in" data-aos-delay="200">
                  <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                </span>
                <span class="image-2" data-aos="zoom-out" data-aos-delay="300">
                  <img src="{{ file_url(content.field_image_2[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                </span>
                <span class="image-3" data-aos="fade-up" data-aos-delay="500">
                  <img src="{{ file_url(content.field_image_3[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
</div>
