{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <div class="newsletter-section text-center sec-ptb-160 pt-0 clearfix">
      <div class="container">
        <div class="section-title text-center mb-60">
          <h2 class="title-text">
            {{ title_prefix }}
            {% if label %}
              {{ label }}
            {% endif %}
            {{ title_suffix }}
          </h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <div class="newsletter-form mb-30" style="background-image: url({{ base_path ~ directory }}/images/newsletter-bg-1.png);">
              {{ content.field_block }}
            </div>
          </div>
        </div>
        <p class="mb-0">{{ content.field_subtitle }}</p>
      </div>
    </div>
  {% endblock %}
</div>
