{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <section id="features-section" class="{% if content.field_image_2 | render %} features-section  {% else %} app-section  {% endif %} sec-ptb-160 clearfix ccn-fullwidth-feature">
      <div class="container">
        <div class="feature-item">
          <div class="row justify-content-lg-between justify-content-md-center {% if '1' in content.field_text_align[0] %} ccn-row-reverse {% endif %}">
            <div class="col-lg-6 col-md-8 col-sm-12">
              <div class="{% if content.field_image_2 | render %} feature-content {% else %} app-content {% endif %}">
                <div class="section-title mb-30">
                  <span class="sub-title mb-15">{{ content.field_subtitle }}</span>
                  <h2 class="title-text mb-0">
                    {{ title_prefix }}
                    {% if label %}
                      {{ label }}
                    {% endif %}
                    {{ title_suffix }}
                  </h2>
                </div>
                <div class="mb-45">
                  {{ content.body }}
                  {% if content.field_features | render %}
                    <div class="info-list ul-li-block  clearfix">
                      {{ content.field_features }}
                    </div>
                  {% endif %}
                </div>
                <div class="btns-group ul-li clearfix">
                  <ul class="clearfix">
                    {% if content.field_paragraphs | render %}
                      {{ content.field_paragraphs }}
                    {% endif %}
                    {% if content.field_link | render %}
                      <li>
                        <a href="{{ content.field_link.0['#url'] }}" class="custom-btn">{{ content.field_link.0['#title'] }}</a>
                      </li>
                    {% endif %}
                    {% if content.field_link_2 | render %}
                      <li>
                        <a href="{{ content.field_link_2.0['#url'] }}" class="custom-btn-underline">{{ content.field_link_2.0['#title'] }}</a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
              <div
                class="{% if (content.field_image_2|render) and ('1' in content.field_style[0]) %}feature-image-1 {% elseif (content.field_image_2|render) and ('2' in content.field_style[0]) %} feature-image-6 float-left {% elseif (content.field_image_2[0] is empty) and ('2' in content.field_style[0]) %} app-image-2 float-right {% else %} app-image float-right {% endif %}">
                {% if '2' in content.field_style[0] %}
                  <span class="bg-image" data-aos="zoom-in" data-aos-delay="100">
                    <img src="{{ base_path ~ directory }}/images/features/animation/6-img-1.png" alt="image_not_found">
                  </span>
                {% else %}
                  <span class="circle-image">
                    <img src="{{ base_path ~ directory }}/images/features/animation/1-img-1.png" alt="image_not_found">
                  </span>
                {% endif %}
                {% if content.field_image | render %}
                  <span class="phone-image" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                  </span>
                {% endif %}
                {% if content.field_image_2 | render %}
                  <span class="comment-image-1" data-aos="fade-right" data-aos-delay="400">
                    <img src="{{ file_url(content.field_image_2[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                  </span>
                {% endif %}
                {% if content.field_image_3 | render %}
                  <span class="comment-image-2" data-aos="fade-right" data-aos-delay="600">
                    <img src="{{ file_url(content.field_image_3[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                  </span>
                {% endif %}
                {% if '2' in content.field_style[0] %}
                  <span class="shape-image-1" data-aos="fade-left" data-aos-delay="600">
                    <img src="{{ base_path ~ directory }}/images/features/animation/6-img-2.png" alt="image_not_found">
                  </span>
                  <span class="shape-image-2" data-aos="fade-right" data-aos-delay="650">
                    <img src="{{ base_path ~ directory }}/images/features/animation/6-img-3.png" alt="image_not_found">
                  </span>
                  <span class="shape-image-3" data-aos="fade-left" data-aos-delay="700">
                    <img src="{{ base_path ~ directory }}/images/features/animation/6-img-4.png" alt="image_not_found">
                  </span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
</div>
