{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes).addClass('ccn--identify--client-logos') }}>
  {% block content %}
    <div id="client-section" class="client-section pb-0 clearfix">
      <div class="container">
        {{ title_prefix }}
        {% if label %}
        <div class="section-title text-center mb-60">
          <p class="paragraph-text mb-0">
          {{ label }}
        </p>
      </div>
        {% endif %}
        {{ title_suffix }}
        <div id="client-carousel" class="client-carousel owl-carousel owl-theme">
          {{ content.field_paragraphs }}
        </div>
      </div>
    </div>
  {% endblock %}
</div>
