{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <section id="extra-features-section" class="extra-features-section sec-ptb-160 bg-light-gray clearfix">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="section-title text-center mb-100">
              <h2 class="title-text mb-30">
                {{ title_prefix }}
                {% if label %}
                  {{ label }}
                {% endif %}
                {{ title_suffix }}
              </h2>
              <p class="paragraph-text mb-0">
                {{ content.field_subtitle }}
              </p>
            </div>
          </div>
        </div>
        <!-- features-nav - start -->
        <div class="features-nav ul-li-center mb-100">
          <ul class="nav" role="tablist">
            {% set numTabsIndex = content.field_paragraphs['#items'] | length %}
            {% for i in 0..numTabsIndex %}
              {% if content.field_paragraphs[i]['#paragraph'].id() %}
                <li class="nav-item tab-{{ content.field_paragraphs[i]['#paragraph'].id() }}">
                  <a class="nav-link" data-toggle="tab" href="#tab-{{ content.field_paragraphs[i]['#paragraph'].id() }}">
                    <span class="item-icon"></span>
                    {{ content.field_paragraphs[i]['#paragraph'].field_title.value }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <!-- features-nav - end -->
        <!-- tab-content - start -->
        <div class="tab-content">
          {{ content.field_paragraphs }}
        </div>
        <!-- tab-content - end -->
      </div>
    </section>
  {% endblock %}
</div>
