{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes).addClass('ccn--identify--fullwidth-feature-video') }}>
  {% block content %}
  <section class="features-section sec-ptb-160 clearfix">
  <div class="container">

    <div class="feature-item">
      <div class="row justify-content-lg-between justify-content-md-center">

        <div class="col-lg-5 col-md-8 col-sm-12">
          <div class="feature-image-2 text-center">
            <span class="item-image">
              <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
            </span>
            <a class="popup-video" href="{{ content.field_youtube_video_embed.0 }}" data-aos="zoom-in" data-aos-delay="100">
              <i class='uil uil-play'></i>
            </a>
          </div>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-12">
          <div class="feature-content p-0">
            <h2 class="feature-item-title">

              {{ title_prefix }}
              {% if label %}
                {{ label }}
              {% endif %}
              {{ title_suffix }}
            </h2>
            <p class="mb-0">
              {{ content.body }}
            </p>

            <div class="service-list ul-li clearfix">
              <ul class="clearfix">
{{ content.field_paragraphs }}
</ul>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>




  {% endblock %}
</div>
