{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes).addClass('ccn--identify--features') }}>
  {% block content %}
    <section id="service-section" class="service-section mb-100 clearfix">
      <div class="container">
        {{ title_prefix }}
        {{ title_suffix }}
        <div class="row">
          {{ content.field_paragraphs}}
        </div>
      </div>
    </section>
  {% endblock %}
</div>
