{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes).addClass('ccn--identify--price-tables-tabbed') }}>
  {% block content %}
    <section id="pricing-section" class="pricing-section clearfix">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="section-title mb-100 text-center">
              <span class="sub-title mb-15">{{ content.field_subtitle }}</span>
              <h2 class="title-text mb-0">
                {{ title_prefix }}
                {% if label %}
                  {{ label }}
                {% endif %}
                {{ title_suffix }}
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="pricing-tab-nav ul-li-center clearfix">
        <ul class="nav" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#monthly">monthly</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#annually">annually</a>
          </li>
        </ul>
      </div>
      <div class="bg-image sec-ptb-160 pt-0 clearfix" style="background-image: url({{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }});">
        <div class="tab-content">
          <div id="monthly" class="tab-pane active fade">
            <div class="container">
              <div class="row">
                {{ content.field_paragraphs }}
              </div>
            </div>
          </div>
          <div id="annually" class="tab-pane fade">
            <div class="container">
              <div class="row">
                {{ content.field_paragraphs_2 }}
              </div>
            </div>
          </div>
        </div>
        <div class="review-btn text-center">
          <a href="{{ content.field_link.0['#url'] }}" class="custom-btn-underline">{{ content.field_link.0['#title'] }}</a>
        </div>
      </div>
    </section>
  {% endblock %}
</div>
