{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes).addClass('ccn--identify--page-title') }}>
  {% block content %}
    <section id="breadcrumb-section" class="breadcrumb-section mma-container clearfix" style="background-image: url({{ base_path ~ directory }}/images/breadcrumb/bg-image-1.jpg);">
      <div class="design-image-1 clearfix">
        <small class="image-1" data-aos="fade-up" data-aos-delay="100">
          <img src="{{ base_path ~ directory }}/images/breadcrumb/design-image-1.png" alt="image_not_found">
        </small>
        <small class="man-image-1" data-aos="fade-down" data-aos-delay="300">
          <img src="{{ base_path ~ directory }}/images/breadcrumb/img-1.png" alt="image_not_found">
        </small>
        <small class="man-image-2" data-aos="fade-down" data-aos-delay="600">
          <img src="{{ base_path ~ directory }}/images/breadcrumb/img-2.png" alt="image_not_found">
        </small>
        <small class="shape-image-1" data-aos="zoom-in" data-aos-delay="1000">
          <img src="{{ base_path ~ directory }}/images/breadcrumb/img-5.png" alt="image_not_found">
        </small>
        <small class="medal-image-1" data-aos="flip-left" data-aos-delay="1400">
          <img src="{{ base_path ~ directory }}/images/breadcrumb/img-3.png" alt="image_not_found">
        </small>
        <small class="shape-image-2" data-aos="zoom-in" data-aos-delay="1100">
          <img src="{{ base_path ~ directory }}/images/breadcrumb/img-5.png" alt="image_not_found">
        </small>
        <small class="medal-image-2" data-aos="flip-left" data-aos-delay="1500">
          <img src="{{ base_path ~ directory }}/images/breadcrumb/img-4.png" alt="image_not_found">
        </small>
      </div>
      <small class="design-image-2" data-aos="fade-up" data-aos-delay="200">
        <img src="{{ base_path ~ directory }}/images/breadcrumb/design-image-2.png" alt="image_not_found">
      </small>
      <div class="container">
        <div class="row justify-content-lg-start justify-content-md-center">
          <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="breadcrumb-content">
              <span class="page-name">{{ content.field_subtitle }}</span>
              <div class="section-title">
                <h2 class="title-text mb-15">{{ title_prefix }}
                  {% if label %}
                    {{ label }}
                  {% endif %}
                  {{ title_suffix }}</h2>
                <p class="paragraph-text mb-0">
                  {{ content.field_body_plain }}
                </p>
              </div>
              <nav class="breadcrumb-nav" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{{ base_path }}">home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">{{ label }}</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <small class="cross-image-1 spin-image mma-item">
        <img src="{{ base_path ~ directory }}/images/shapes/cross.png" alt="image_not_found">
      </small>
      <small class="cross-image-2 spin-image mma-item">
        <img src="{{ base_path ~ directory }}/images/shapes/cross.png" alt="image_not_found">
      </small>
      <small class="box-image-1 spin-image mma-item">
        <img src="{{ base_path ~ directory }}/images/shapes/box.png" alt="image_not_found">
      </small>
      <small class="box-image-2 spin-image mma-item">
        <img src="{{ base_path ~ directory }}/images/shapes/box.png" alt="image_not_found">
      </small>
      <small class="flow-image-1 zoominout-image mma-item">
        <img src="{{ base_path ~ directory }}/images/shapes/flow-1.png" alt="image_not_found">
      </small>
      <small class="flow-image-2 zoominout-image mma-item">
        <img src="{{ base_path ~ directory }}/images/shapes/flow-2.png" alt="image_not_found">
      </small>
      <small class="circle-half-1 spin-image mma-item">
        <img src="{{ base_path ~ directory }}/images/shapes/circle-half.png" alt="image_not_found">
      </small>
      <small class="circle-half-2 spin-image mma-item">
        <img src="{{ base_path ~ directory }}/images/shapes/circle-half.png" alt="image_not_found">
      </small>
      <small class="circle-image-1 zoominout-image mma-item">
        <img src="{{ base_path ~ directory }}/images/shapes/circle.png" alt="image_not_found">
      </small>
    </section>
  {% endblock %}
</div>
