{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <section id="funfact-section" class="funfact-section sec-ptb-160 clearfix">
      <div class="container">
        <div class="bg-image" style="background-image: url({{ base_path ~ directory }}/images/map.png);">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
              <div class="section-title mb-100 text-center">
                <span class="sub-title mb-15">{{ content.field_subtitle }}</span>
                <h2 class="title-text mb-0">{{ title_prefix }}
                  {% if label %}
                    {{ label }}
                  {% endif %}
                  {{ title_suffix }}</h2>
              </div>
            </div>
          </div>
          <div class="counter-items-list ul-li-center mb-100 clearfix">
            <ul class="clearfix">
              {{ content.field_paragraphs }}
            </ul>
          </div>
          <div class="review-btn text-center">
            <a href="{{ content.field_link.0['#url'] }}" class="custom-btn-underline">{{ content.field_link.0['#title'] }}</a>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
</div>
