{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes).addClass('ccn--identify--features') }}>
  {% block content %}
    <div class="btns-group ul-li-center mb-100 clearfix">
      {{ title_prefix }}
      {{ title_suffix }}
      <ul class="clearfix">
        {{ content.field_paragraphs }}
      </ul>
    </div>
  {% endblock %}
</div>
