{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <section id="working-process-section" class="working-process-section sec-ptb-160 clearfix">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="section-title text-center mb-100">
              <span class="sub-title mb-15">{{ content.field_supertitle }}</span>
              <h2 class="title-text mb-30">
                {{ title_prefix }}
                {% if label %}
                  {{ label }}
                {% endif %}
                {{ title_suffix }}
              </h2>
              <p class="paragraph-text mb-0">
                {{ content.field_subtitle }}
              </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-lg-start justify-content-md-center">
          <div class="col-lg-4 col-md-8 col-sm-12 ccn--identify--work-process-col-1">
            {{ content.field_paragraphs }}

          </div>
          <div class="col-lg-4 col-md-8 col-sm-12">
            <div class="process-phone-image">
              <span class="bg-image" data-aos="zoom-in" data-aos-delay="100">
                <img src="{{ base_path ~ directory }}/images/features/animation/6-img-1.png" alt="image_not_found">
              </span>
              <span class="phone-image" data-aos="zoom-out" data-aos-delay="300">
                <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
              </span>
              <span class="shape-image-1" data-aos="fade-right" data-aos-delay="400">
                <img src="{{ base_path ~ directory }}/images/features/animation/6-img-2.png" alt="image_not_found">
              </span>
              <span class="shape-image-2" data-aos="fade-left" data-aos-delay="500">
                <img src="{{ base_path ~ directory }}/images/features/animation/6-img-4.png" alt="image_not_found">
              </span>
            </div>
          </div>
          <div class="col-lg-4 col-md-8 col-sm-12 ccn--identify--work-process-col-2"></div>
        </div>
        <div class="seemore-btn text-center">
          <a href="{{ content.field_link.0['#url'] }}" class="custom-btn-underline">{{ content.field_link.0['#title'] }}</a>
        </div>
      </div>
    </section>
  {% endblock %}
</div>
