{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <section
      id="software-section"
      class="software-section sec-ptb-160 clearfix {% if '2' in content.field_style[0] %} ccn--software-dark {% else %} ccn--software-light {% endif %}"
      style="background-image: url({{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }});">
      {% if '2' in content.field_style[0] %}
        {#<span class="shape-img-1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">
          <img src="{{ base_path ~ directory }}/images/software/shape-1.png" alt="logo_not_found">
        </span>
        <span class="shape-img-2" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="300">
          <img src="{{ base_path ~ directory }}/images/software/shape-2.png" alt="logo_not_found">
        </span>#}
      {% else %}
        <span class="shape-img-1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">
          <img src="{{ base_path ~ directory }}/images/software/shape-3.png" alt="logo_not_found">
        </span>
        <span class="shape-img-2" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="300">
          <img src="{{ base_path ~ directory }}/images/software/shape-4.png" alt="logo_not_found">
        </span>
      {% endif %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="section-title mb-100 text-center">
              <span class="sub-title mb-15">{{ content.field_supertitle }}</span>
              <h2 class="title-text mb-30">
                {{ title_prefix }}
                {% if label %}
                  {{ label }}
                {% endif %}
                {{ title_suffix }}
              </h2>
              <p class="paragraph-text mb-0">
                {{ content.field_subtitle }}
              </p>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="software-container">
              {{ content.field_paragraphs }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
</div>
