{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <section id="free-trail-section" class="free-trail-section sec-ptb-160 clearfix">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="section-title mb-100 text-center">
              <span class="sub-title mb-15">{{ content.field_supertitle }}</span>
              <h2 class="title-text mb-0">
                {{ title_prefix }}
                {% if label %}
                  {{ label }}
                {% endif %}
                {{ title_suffix }}
                <span>
                  <small>{{ content.field_subtitle }}</small>
                </span>
              </h2>
            </div>
          </div>
          <div class="col-lg-10 col-md-12 col-sm-12">
            <div class="free-trail-form text-center" style="background-image: url({{ base_path ~ directory }}/images/map-2.png);">
              {{ content.field_block }}
              <p class="mb-0">{{ content.field_title_2 }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
</div>
