<ul class="clearfix">
  {% for row in rows %}
    <li><a href="{{ row.url }}"{{ row.attributes.addClass(row.active ? 'is-active')|without('href') }}>{{ row.link }}</a>
      {% if options.count %}
        <span class="badge float-right">({{ row.count }})</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
