<li>
  <span class="post-date">{{ fields.created.content }}</span>
  <a href="{{ fields.view_node.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}" class="item-title">{{ fields.title.content }}</a>
</li>
