<div class="col-12 col-md-6 col-lg-4">
  <div class="single-blog-area wow fadeInUp" data-wow-delay="0.2s">
    <!-- Post Thumbnail -->
    <div class="blog_thumbnail">
      <img src="{{ fields.field_media_image.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}" alt="">
    </div>
    <!-- Post Content -->
    <div class="blog-content">
      <!-- Dream Dots -->
      <div class="post-meta mt-20">
        <p>By
          <span>{{ fields.uid.content }}</span>
          <span>{{ fields.created.content }}</span>
          <span>{{ fields.comment_count.content }}
            Comments</span></p>
      </div>
      <a href="{{ fields.view_node.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}" class="post-title">
        <h4>{{ fields.title.content }}</h4>
      </a>
      <p>{{ fields.body.content }}</p>
      <a href="{{ fields.view_node.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}" class="btn dream-btn mt-15">Read Details</a>
    </div>
  </div>
</div>
