{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
<section id="blog-section" class="blog-section sec-ptb-160 clearfix">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-10 col-sm-12">
          {{ title_prefix }}
          {{ title }}
          {{ title_suffix }}
          {% if header %}
            {{ header }}
          {% endif %}
          {{ exposed }}
          {{ attachment_before }}
            {{ rows }}
            {{ empty }}
            {{ pager }}
          {{ attachment_after }}
          {{ more }}
          {% if footer %}
            <footer>
              {{ footer }}
            </footer>
          {% endif %}
          {{ feed_icons }}
        </div>
      </div>
    </div>
  </section>
</div>
