<div class="big-blog-item clearfix">
  <div class="blog-image">
    <img src="{{ fields.field_media_image.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}" alt="image_not_found">
    <div class="post-date">
      <strong class="date-text">{{ fields.created_1.content }}</strong>
      <span class="month-text">{{ fields.created_2.content }}</span>
    </div>
  </div>
  <div class="blog-content">
    <div class="post-meta ul-li mb-30 clearfix">
      <ul class="clearfix">
        <li>
          <a href="{{ fields.view_node.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}" class="post-admin">
            <span class="admin-image"><img src="{{ fields.user_picture.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}" alt="image_not_found"></span>
            {{ fields.uid.content }}
          </a>
        </li>
        <li>
          <i class='uil uil-stopwatch'></i>
          {{ fields.created.content }}</li>
      </ul>
    </div>
    <div class="ccn-post-tags">
        {{ fields.field_categories.content }}
    </div>
    <h3 class="blog-title mb-30">
      <a href="{{ fields.view_node.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}" class="title-link">{{ fields.title.content }}</a>
    </h3>
    <p class="item-paragraph mb-45">
      {{ fields.field_body_plain.content }}
    </p>
    <a href="{{ fields.view_node.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}" class="custom-btn-underline">read more</a>
  </div>
</div>
