<div class="review-item clearfix">
  <div class="reviewer-image">
    <img src="{{ fields.field_media_image.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}" alt="image_not_found">
  </div>
  <div class="reviewer-content">
    <div class="reviewer-info mb-45">
      <h3 class="reviewer-name">{{ fields.title.content }}</h3>
      <span class="reviewer-title">{{ fields.field_subtitle.content }}</span>
    </div>
    <p class="reviewer-comment mb-30">
      {{ fields.field_body_plain.content }}
    </p>
    <div class="rating-star ul-li clearfix">
      <ul class="clearfix">
        <li class="rated">
          <i class="fas fa-star"></i>
        </li>
        <li class="rated">
          <i class="fas fa-star"></i>
        </li>
        <li class="rated">
          <i class="fas fa-star"></i>
        </li>
        <li class="rated">
          <i class="fas fa-star"></i>
        </li>
        <li class="rated">
          <i class="fas fa-star"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
