{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if header %}
    {{ header }}
  {% endif %}
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}
  {{ exposed }}
  {{ attachment_before }}
  <div class="ccn-reviews">
    {{ rows }}
  </div>
  {{ empty }}
  {{ pager }}
  {{ attachment_after }}
  {{ more }}
  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}
  {{ feed_icons }}
</div>
