{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<div role="navigation" aria-labelledby="{{ heading_id }}" {{ attributes.addClass('ccn-footer-menu useful-links ul-li-block clearfix')|without('role', 'aria-labelledby') }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {% endif %}
  {{ title_prefix }}
  <h3{{ title_attributes.setAttribute('id', heading_id).addClass('item-title') }}>{{ configuration.label }}</h3>
  {{ title_suffix }}
  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
