{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}

  <section id="banner-section" class="banner-section clearfix ccn--identify--home-page-7">
    <div class="sass-banner-1 clearfix" style="background-image: url({{ base_path ~ directory }}/images/banner/bg-img-2.png);">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <!-- show on mobile device - start -->
            <div class="mobile-banner-image d-none">
              <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
            </div>
            <!-- show on mobile device - end -->
            <div class="banner-content text-center">
              <h1 class="title-text mb-15">
                {{ title_prefix }}
                {% if label %}
                  {{ label }}
                {% endif %}
                {{ title_suffix }}
              </h1>
              <p>
                {{ content.field_body_plain }}
              </p>
              <div class="newsletter-form">
                {#<form action="#">#}
                  <div class="form-item">
                    {{ content.field_block }}
                  </div>
                  <div class="info-list ul-li-center mb-30 clearfix">
                    <ul class="clearfix">
                      <li>{{ content.field_subtitle }}</li>
                    </ul>
                  </div>
                {#</form>#}
              </div>
            </div>
          </div>
        </div>

        <div class="banner-item-image">
          <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
          <span class="child-img-1" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <img src="{{ file_url(content.field_image_2[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
          </span>
          <span class="child-img-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            <img src="{{ file_url(content.field_image_3[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
          </span>
          <span class="child-img-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
            <img src="{{ file_url(content.field_image_4[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
          </span>
        </div>

      </div>
    </div>
    <div class="decoration-items">
      <span class="big-circle-shape"></span>
      <small class="cross-image"><img src="{{ base_path ~ directory }}/images/shapes/cross.png" alt="image_not_found"></small>
      <small class="flow-image-1"><img src="{{ base_path ~ directory }}/images/shapes/flow-1.png" alt="image_not_found"></small>
      <small class="flow-image-2"><img src="{{ base_path ~ directory }}/images/shapes/flow-2.png" alt="image_not_found"></small>
      <small class="circle-image-1"><img src="{{ base_path ~ directory }}/images/shapes/circle-half.png" alt="image_not_found"></small>
      <small class="flow-image-3"><img src="{{ base_path ~ directory }}/images/shapes/flow-2.png" alt="image_not_found"></small>
      <small class="circle-image-2"><img src="{{ base_path ~ directory }}/images/shapes/circle-half.png" alt="image_not_found"></small>
      <small class="circle-image-3"><img src="{{ base_path ~ directory }}/images/shapes/circle.png" alt="image_not_found"></small>
      <small class="box-image"><img src="{{ base_path ~ directory }}/images/shapes/box.png" alt="image_not_found"></small>

      <small class="dark-box-1"><img src="{{ base_path ~ directory }}/images/banner/shape-1.png" alt="image_not_found"></small>
      <small class="dark-box-2"><img src="{{ base_path ~ directory }}/images/banner/shape-2.png" alt="image_not_found"></small>
      <small class="dark-box-3"><img src="{{ base_path ~ directory }}/images/banner/shape-1.png" alt="image_not_found"></small>
      <small class="dark-box-4"><img src="{{ base_path ~ directory }}/images/banner/shape-2.png" alt="image_not_found"></small>
    </div>
  </section>



  {% endblock %}
</div>
