{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}



  <section id="banner-section" class="banner-section bg-light-gray clearfix">
			<div class="sass-banner-2 clearfix">
				<div class="container">
					<div class="row justify-content-lg-between justify-content-md-center">

						<div class="col-lg-5 col-md-8 col-sm-12">
							<!-- show on mobile device - start -->
							<div class="mobile-banner-image d-none">
								<img src="{{ base_path ~ directory }}/images/mobile-banner/img-8.png" alt="image_not_found">
							</div>
							<!-- show on mobile device - end -->
							<div class="banner-content">
								<h2 class="title-text mb-30">
                  {{ title_prefix }}
                  {% if label %}
                    {{ label }}
                  {% endif %}
                  {{ title_suffix }}
								</h2>
								<p>
								{{ content.field_body_plain }}
								</p>
								<div class="newsletter-form">
									<form action="#">
										<div class="form-item">
											{{ content.field_block }}
										</div>
										<p class="mb-0">{{ content.field_subtitle }}</p>
									</form>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-md-8 col-sm-12">
							<div class="banner-item-image scene">
								<span class="bg-image" data-aos="zoom-in">
									<img src="{{ base_path ~ directory }}/images/banner/sb-2-shape-bg-1.png" alt="image_not_found">
								</span>
								<span class="big-image" data-depth="0.2">
									<small data-aos="zoom-out" data-aos-delay="200">
										<img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="man-image-1" data-depth="0.5">
									<small data-aos="fade-right" data-aos-delay="500">
										<img src="{{ file_url(content.field_image_2[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="man-image-2" data-depth="0.5">
									<small data-aos="fade-left" data-aos-delay="700">
										<img src="{{ file_url(content.field_image_3[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="man-image-3" data-depth="0.5">
									<small data-aos="fade-left" data-aos-delay="800">
										<img src="{{ file_url(content.field_image_4[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="man-image-4" data-depth="0.5">
									<small data-aos="fade-right" data-aos-delay="900">
										<img src="{{ file_url(content.field_image_5[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="man-image-5" data-depth="0.5">
									<small data-aos="fade-up" data-aos-delay="1000">
										<img src="{{ file_url(content.field_image_6[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="leaf-image-1" data-depth="0.3">
									<small data-aos="flip-right" data-aos-delay="800">
										<img src="{{ file_url(content.field_image_7[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="leaf-image-2" data-depth="0.3">
									<small data-aos="zoom-in" data-aos-delay="1150">
										<img src="{{ file_url(content.field_image_8[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="comment-image" data-depth="0.6">
									<small data-aos="fade-down" data-aos-delay="1050">
										<img src="{{ file_url(content.field_image_9[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="share-image" data-depth="0.6">
									<small data-aos="fade-down" data-aos-delay="1100">
										<img src="{{ file_url(content.field_image_10[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="cloud-image-1" data-depth="0.2">
									<small data-aos="fade-down" data-aos-delay="1200">
										<img src="{{ file_url(content.field_image_11[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="cloud-image-2" data-depth="0.3">
									<small data-aos="fade-up" data-aos-delay="1300">
										<img src="{{ file_url(content.field_image_12[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="cloud-image-3" data-depth="0.3">
									<small data-aos="fade-up" data-aos-delay="1350">
										<img src="{{ file_url(content.field_image_13[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="cloud-image-4" data-depth="0.3">
									<small data-aos="fade-up" data-aos-delay="1400">
										<img src="{{ file_url(content.field_image_14[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
								<span class="cloud-image-5" data-depth="0.3">
									<small data-aos="fade-up" data-aos-delay="1450">
										<img src="{{ file_url(content.field_image_15[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
									</small>
								</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
  {% endblock %}
</div>
