{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes).addClass('ccn--identify--home-page-10') }}>
  {% block content %}


  <section id="banner-section" class="banner-section clearfix">
    <div class="sass-banner-4 clearfix">

      <div class="container">
        <div class="row justify-content-lg-between justify-content-md-center">

          <div class="col-lg-7 col-md-8 col-sm-12">
            <!-- show on mobile device - start -->
            <div class="mobile-banner-image d-none">
              <img src="{{ base_path ~ directory }}/images/mobile-banner/img-10.png" alt="image_not_found">
            </div>
            <!-- show on mobile device - end -->
            <div class="banner-content">
              <h1 class="title-text mb-30">
                {{ title_prefix }}
                {% if label %}
                  {{ label }}
                {% endif %}
                {{ title_suffix }}

              </h1>
              <p>
                {{ content.field_body_plain }}
              </p>
              <div class="btns-group ul-li clearfix">
                <ul class="clearfix">
                  <li><a href="{{ content.field_link.0['#url'] }}" class="custom-btn">{{ content.field_link.0['#title'] }}</a></li>
                  <li>
                    <p class="info-text mb-0">{{ content.field_subtitle }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="banner-item-image">
              <span class="laptop-image" data-aos="fade-left" data-aos-delay="100">
                <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
              </span>
              <span class="bg-image">
                <img src="{{ base_path ~ directory }}/images/banner/shape-3.png" alt="image_not_found">
              </span>
              <span class="shape-image" data-aos="zoom-in" data-aos-delay="300">
                <img src="{{ base_path ~ directory }}/images/banner/shape-4.png" alt="image_not_found">
              </span>
              <a class="popup-video" href="{{ content.field_youtube_video_embed.0 }}" data-aos="zoom-in" data-aos-delay="900">
                <i class='uil uil-play'></i>
              </a>
            </div>
          </div>

        </div>
      </div>

      <span class="shape-1">
        <img src="{{ base_path ~ directory }}/images/shapes/cross-2.png" alt="image_not_found">
      </span>
      <span class="shape-2">
        <img src="{{ base_path ~ directory }}/images/shapes/flow-1-2.png" alt="image_not_found">
      </span>
      <span class="shape-3">
        <img src="{{ base_path ~ directory }}/images/shapes/circle-half-2.png" alt="image_not_found">
      </span>
      <span class="shape-4">
        <img src="{{ base_path ~ directory }}/images/shapes/circle-half-2.png" alt="image_not_found">
      </span>
      <span class="shape-5">
        <img src="{{ base_path ~ directory }}/images/shapes/box-2.png" alt="image_not_found">
      </span>
      <span class="shape-6">
        <img src="{{ base_path ~ directory }}/images/shapes/flow-2-2.png" alt="image_not_found">
      </span>

    </div>
  </section>


  {% endblock %}
</div>
