{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes).addClass('ccn--identify--home-page-3') }}>
  {% block content %}
    {{ title_prefix }}
    {{ title_suffix }}
    <section id="slider-section" class="slider-section mb-100 clearfix">
      <div id="mobileapp-main-carousel" class="mobileapp-main-carousel owl-carousel owl-theme">
        {{ content.field_paragraphs }}
      </div>
    </section>
  {% endblock %}
</div>
