{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
  <section id="banner-section" class="banner-section clearfix">
  <div class="mobile-app-banner-1">

    <div class="container">
      <div class="row justify-content-lg-between justify-content-md-center">

        <div class="col-lg-6 col-md-8 col-sm-12">
          <!-- show on mobile device - start -->
          <div class="mobile-banner-image d-none">
            <img src="{{ base_path ~ directory }}/images/mobile-banner/img-1.png" alt="image_not_found">
          </div>
          <!-- show on mobile device - end -->
          <div class="banner-content">
            <h2>
              {{ title_prefix }}
              {% if label %}
                {{ label }}
              {% endif %}
              {{ title_suffix }}
            </h2>
              <p>{{ content.field_body_plain }}</p>
            <div class="btns-group ul-li clearfix">
              <ul class="clearfix">
{{ content.field_paragraphs }}
</ul>
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-8 col-sm-12">
          <div class="banner-image scene">
            <span class="bg-image" data-depth="0.2">
              <small data-aos="zoom-in" data-aos-duration="450" data-aos-delay="100">
                <img src="{{ base_path ~ directory }}/images/banner/mab-1-img-1.png" alt="image_not_found">
              </small>
            </span>
            <span class="phone-image" data-depth="0.2">
              <small data-aos="zoom-out" data-aos-duration="500" data-aos-delay="500">
                <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
              </small>
            </span>
            <span class="man-image-1" data-depth="0.5">
              <small data-aos="fade-right" data-aos-duration="550" data-aos-delay="800">
                <img src="{{ file_url(content.field_image_2[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
              </small>
            </span>
            <span class="man-image-2" data-depth="0.5">
              <small data-aos="fade-left" data-aos-duration="600" data-aos-delay="1000">
                <img src="{{ file_url(content.field_image_3[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
              </small>
            </span>
            <span class="man-image-3" data-depth="0.3">
              <small data-aos="fade-down" data-aos-duration="650" data-aos-delay="1200">
                <img src="{{ file_url(content.field_image_4[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
              </small>
            </span>
            <span class="cog-image" data-depth="0.4">
              <small data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1500">
                <img src="{{ base_path ~ directory }}/images/banner/mab-1-img-6.png" alt="image_not_found">
              </small>
            </span>
            <span class="leaf-image-1" data-depth="0.4">
              <small data-aos="fade-left" data-aos-duration="450" data-aos-delay="1500">
                <img src="{{ file_url(content.field_image_5[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
              </small>
            </span>
            <span class="leaf-image-2" data-depth="0.4">
              <small data-aos="fade-right" data-aos-duration="450" data-aos-delay="1500">
                <img src="{{ file_url(content.field_image_6[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
              </small>
            </span>
          </div>
        </div>

      </div>
    </div>

    <small class="shape-1"><img src="{{ base_path ~ directory }}/images/shapes/cross-2.png" alt="cross_shape_image"></small>
    <small class="shape-2"><img src="{{ base_path ~ directory }}/images/shapes/flow-1-2.png" alt="flow_shape_image"></small>
    <small class="shape-3"><img src="{{ base_path ~ directory }}/images/shapes/circle-half-2.png" alt="circle_half_shape_image"></small>
    <small class="shape-4"><img src="{{ base_path ~ directory }}/images/shapes/circle-half-2.png" alt="circle_half_shape_image"></small>
    <small class="shape-5"><img src="{{ base_path ~ directory }}/images/shapes/flow-2-2.png" alt="flow_shape_image"></small>
    <small class="shape-6"><img src="{{ base_path ~ directory }}/images/shapes/box-2.png" alt="box_shape_image"></small>
    <small class="shape-7"><img src="{{ base_path ~ directory }}/images/shapes/circle-2.png" alt="circle_shape_image"></small>

  </div>
</section>

  {% endblock %}
</div>
