{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <section id="banner-section" class="banner-section mb-60 clearfix">
      <div class="mobile-app-banner-6">
        <div class="container">
          <div class="row justify-content-lg-between justify-content-md-center">
            <div class="col-lg-7 col-md-8 col-sm-12">
              <!-- show on mobile device - start -->
              <div class="mobile-banner-image d-none">
                <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
              </div>
              <!-- show on mobile device - end -->
              <div class="banner-content">
                <h2>
                  {{ title_prefix }}
                  {% if label %}
                    {{ label }}
                  {% endif %}
                  {{ title_suffix }}
                </h2>
                <p>
                  {{ content.field_body_plain }}
                </p>
                <div class="btns-group ul-li clearfix">
                  <ul class="clearfix">
                    {{ content.field_paragraphs }}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="banner-image scene clearfix">
                <span class="phone-image float-right" data-depth="0.2">
                  <small data-aos="zoom-out" data-aos-duration="500" data-aos-delay="200">
                    <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                  </small>
                </span>
                <span class="commentbar-image-1" data-depth="0.5">
                  <small data-aos="fade-left" data-aos-duration="1000" data-aos-delay="700">
                    <img src="{{ file_url(content.field_image_2[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                  </small>
                </span>
                <span class="commentbar-image-2" data-depth="0.5">
                  <small data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1000">
                    <img src="{{ file_url(content.field_image_3[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                  </small>
                </span>
              </div>
            </div>
          </div>
        </div>
        <span class="shape-bg-image">
          <img src="{{ base_path ~ directory }}/images/banner/mab-6-img-1.png" alt="image_not_found">
        </span>
      </div>
    </section>
  {% endblock %}
</div>
