{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <section id="banner-section" class="banner-section clearfix">
      <div class="mobile-app-banner-2" style="background-image: url({{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }});">
        <span class="shape-image-1" data-aos="fade-right" data-aos-duration="1000" data-delay="100">
          <img src="{{ base_path ~ directory }}/images/banner/shape-5.png" alt="image_not_found">
        </span>
        <span class="shape-image-2">
          <small data-aos="zoom-in" data-aos-duration="1000" data-delay="800">
            <img src="{{ base_path ~ directory }}/images/banner/shape-6.png" alt="image_not_found">
          </small>
        </span>
        <span class="shape-image-3">
          <small data-aos="zoom-out" data-aos-duration="1000" data-delay="1000">
            <img src="{{ base_path ~ directory }}/images/banner/shape-7.png" alt="image_not_found">
          </small>
        </span>
        <span class="shape-image-4">
          <small data-aos="zoom-out" data-aos-duration="1000" data-delay="1200">
            <img src="{{ base_path ~ directory }}/images/banner/shape-8.png" alt="image_not_found">
          </small>
        </span>
        <div class="container">
          <div class="row justify-content-lg-start justify-content-md-center">
            <div class="col-lg-6 col-md-8 col-sm-12">
              <!-- show on mobile device - start -->
              <div class="mobile-banner-image d-none">
                <img src="{{ base_path ~ directory }}/images/mobile-banner/img-2.png" alt="image_not_found">
              </div>
              <!-- show on mobile device - end -->
              <div class="banner-content">
                <h2>
                  {{ title_prefix }}
                  {% if label %}
                    {{ label }}
                  {% endif %}
                  {{ title_suffix }}
                </h2>
                <p>
                  {{ content.field_body_plain }}
                </p>
                <div class="btns-group ul-li clearfix">
                  <ul class="clearfix">
                    {{ content.field_paragraphs }}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12">
              <div class="banner-image scene">
                <span class="phone-image" data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="200">
                  <img src="{{ file_url(content.field_image_2[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                </span>
                <span class="man-image-1" data-depth="0.1">
                  <small data-aos="fade-right" data-aos-duration="500" data-aos-delay="500">
                    <img src="{{ file_url(content.field_image_3[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                  </small>
                </span>
                <span class="man-image-2" data-depth="0.1">
                  <small data-aos="fade-left" data-aos-duration="500" data-aos-delay="600">
                    <img src="{{ file_url(content.field_image_4[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                  </small>
                </span>
                <span class="message-image" data-depth="0.2">
                  <small data-aos="fade-down" data-aos-duration="1200" data-aos-delay="900">
                    <img src="{{ file_url(content.field_image_5[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                  </small>
                </span>
                <span class="leaf-image-1" data-depth="0.2">
                  <small data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1200">
                    <img src="{{ file_url(content.field_image_6[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                  </small>
                </span>
                <span class="leaf-image-2" data-depth="0.2">
                  <small data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1300">
                    <img src="{{ file_url(content.field_image_7[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
                  </small>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
</div>
