<div{{ attributes.addclass('js-comment comment comment-item') }}>
  <mark class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></mark>
  <div class="hero-image">
    {{ user_picture }}
  </div>
  <div class="comment-content">
    {% if parent %}
      <p class="visually-hidden">{{ parent }}</p>
    {% endif %}
    <div class="hero-info">
      {{ submitted }}
    </div>
    <p class="paragraph-text mb-0">
      {{ content }}
    </p>
  </div>
</div>
