{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.setAttribute('id', 'ccn-nav').addClass('clearfix') }}>
    {% else %}
      <ul{{ attributes.addClass('sub-menu').setAttribute('id', 'ccn-sub-nav') }}>
    {% endif %}
    {% for item in items %}
      {% if item.is_expanded %}
      <li{{ item.attributes.addClass('menu-item-has-child') }}>
        {{ link(item.title, item.url, item.attributes.addClass('ccn-sub-nav')) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
      {% else %}
      <li{{ item.attributes.addClass('') }}>
        {{ link(item.title, item.url, item.attributes.addClass('')) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
