{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}
<div id="breadcrumb-section" class="breadcrumb-section mma-container clearfix" style="background-image: url({{ file_url(content.field_background_image[0]['#media'].field_media_image.entity.uri.value) }});">
  <div class="overlay-black"></div>
</div>
<section id="blog-details-section" class="blog-details-section clearfix">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-10 col-sm-12">
        <div class="blog-details-content pb-0 clearfix">
          <h2 class="blog-title mb-30">{{ title_prefix }}{{ label }}{{ title_suffix }}</h2>
          {% if display_submitted %}
            <div class="post-meta ul-li mb-30 clearfix">
              <ul class="clearfix">
                <li>
                  <span class="post-admin">
                    <span class="admin-image"><img src="{{ file_url(node.Owner.user_picture.0.entity.uri.value) }}" alt="image_not_found"></span>
                    {{ author_name }}
                  </span>
                </li>
                <li>
                  <i class="uil uil-stopwatch"></i>
                  {{ date }}</li>
              </ul>
            </div>
            {{ metadata }}
          {% endif %}
          <p class="mb-60">
            {{ content.field_body_plain }}
          </p>
          {{ content.field_paragraphs }}
          <div class="post-admin mb-45 clearfix" style="background-image: url({{ base_path ~ directory }}/images/blog/post-admin-bg.jpg);">
            <div class="admin-image">
              <img src="{{ file_url(node.Owner.user_picture.0.entity.uri.value) }}" alt="image_not_found">
            </div>
            <div class="admin-content">
              <p class="mb-45">
                Excepteur sint occaecat cupidatat non proident, sunt quite derunt omollit anim id estambul ilaborum. Sed ultra practices omnis istelat aoatus error unexpected site
              </p>
              <span class="admin-name">{{ author_name }}</span>
            </div>
          </div>
          <div class="tag-share-links mb-100 clearfix">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="tag-links ul-li float-left clearfix">
                  {{ content.field_tags }}
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="share-links ul-li float-right clearfix">
                  <span class="title-text">share</span>
                  <ul class="clearfix">
                    <li>
                      <a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/intent/tweet?url={{ url }}&text={{ node.label }}">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="http://pinterest.com/pin/create/button/?url={{ url }}&description={{ node.label }}">
                        <i class="fab fa-pinterest-p"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ node.label }}">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {{ content.comment }}
        </div>
      </div>
    </div>
  </div>
</section>
