{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}
<div class="common-container">
  <div class="image-container">
    <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="image_not_found">
  </div>
</div>
<div class="common-container bg-default-blue">
  <div class="item-content">
    <h2 class="title-text mb-30">{{ title_prefix }}{{ label }}{{ title_suffix }}</h2>
    <p class="mb-60">
      {{ content.field_body_plain }}
    </p>
    <a href="{{ content.field_link.0['#url'] }}" class="custom-btn">{{ content.field_link.0['#title'] }}</a>
  </div>
  <small class="shape-1"><img src="{{ base_path ~ directory }}/images/shapes/cross.png" alt="image_not_found"></small>
  <small class="shape-2"><img src="{{ base_path ~ directory }}/images/shapes/flow-1.png" alt="image_not_found"></small>
  <small class="shape-3"><img src="{{ base_path ~ directory }}/images/shapes/box.png" alt="image_not_found"></small>
  <small class="shape-4"><img src="{{ base_path ~ directory }}/images/shapes/box.png" alt="image_not_found"></small>
  <small class="shape-5"><img src="{{ base_path ~ directory }}/images/shapes/circle-half.png" alt="image_not_found"></small>
  <small class="shape-6"><img src="{{ base_path ~ directory }}/images/shapes/cross.png" alt="image_not_found"></small>
  <small class="shape-7"><img src="{{ base_path ~ directory }}/images/shapes/flow-2.png" alt="image_not_found"></small>
  <small class="shape-8"><img src="{{ base_path ~ directory }}/images/shapes/circle.png" alt="image_not_found"></small>
  <small class="shape-9"><img src="{{ base_path ~ directory }}/images/shapes/circle-half.png" alt="image_not_found"></small>
</div>
