<header
  id="header-section"
  class="header-section sticky-header clearfix ccn--lb-tagged
  {% if node.gettype == 'layout_builder_page' %}
    {% if (node.field_header_color.value) == 0 %}
      black-content
    {% elseif (node.field_header_color.value) == 1 %}
      ccn-header-dark white-content ccn-logo-white
    {% elseif (node.field_header_color.value) == 2 %}
      ccn-header-blue white-content ccn-logo-white
    {% elseif (node.field_header_color.value) == 3 %}
      ccn-header-pink white-content ccn-logo-white
    {% elseif (node.field_header_color.value) == 4 %}
      white-content ccn-logo-white
    {% endif %}
  {% else %}
    white-content ccn-logo-white
  {% endif %}
">
  <div class="
  {% if node.gettype == 'layout_builder_page' %}
    {% if node.field_header_width.value == 1 %}
      container-fluid
    {% else %}
      container
    {% endif %}
  {% else %}
    container-fluid
  {% endif %}
  ">
    <div class="row">
      <!-- brand-logo - satrt -->
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="brand-logo float-left">
          <a href="{{ base_path }}" class="brand-link">
            <img src="{{ logo_path }}" alt="logo_not_found">
          </a>
        </div>
        <div class="brand-logo-white float-left">
          <a href="{{ base_path }}" class="brand-link">
            <img src="{{ base_path ~ directory }}/logo-white.png" alt="logo_not_found">
          </a>
        </div>
      </div>
      <!-- brand-logo - end -->
      <!-- main-menubar - satrt -->
      <div
        class="
      {% if node.gettype == 'layout_builder_page' %}
        {% if node.field_header_width.value == 1 %}
          col-lg-7
        {% else %}
          col-lg-8
        {% endif %}
      {% else %}
        col-lg-7
      {% endif %}
      ">
        <div class="main-menubar ul-li-right clearfix">
          {{ page.main_menu }}
        </div>
      </div>
      <!-- main-menubar - end -->
      <!-- btns-group - start -->
      <div
        class="
      {% if node.gettype == 'layout_builder_page' %}
        {% if node.field_header_width.value == 1 %}
          col-lg-3
        {% else %}
          col-lg-2
        {% endif %}
      {% else %}
        col-lg-3
      {% endif %}
       col-md-6 col-sm-6">
        <div class="btns-group ul-li-right clearfix">
          <ul class="clearfix">
            <li>
              <a href="{{ header_cta_link }}" class="custom-btn">{{ header_cta_title }}</a>
            </li>
            {% if node.gettype == 'layout_builder_page' %}
              {% if node.field_side_navigation.value == 1 %}
                <li>
                  <button type="button" id="sidebar-collapse" class="mobile-menu-btn">
                    <i class="flaticon-right-alignment"></i>
                  </button>
                </li>
              {% else %}
                <li class="d-none">
                  <button type="button" id="sidebar-collapse" class="mobile-menu-btn">
                    <i class="flaticon-right-alignment"></i>
                  </button>
                </li>
              {% endif %}
            {% else %}
              <li>
                <button type="button" id="sidebar-collapse" class="mobile-menu-btn">
                  <i class="flaticon-right-alignment"></i>
                </button>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- btns-group - end -->
    </div>
  </div>
</header>
<div class="sidebar-menu-wrapper">
  <div id="sidebar-menu" class="sidebar-menu">
    <div class="dismiss text-right mb-60 clearfix">
      <span class="close-btn">
        <i class="flaticon-cancel-music"></i>
      </span>
    </div>
    {{ page.side_menu }}

    <div class="contact-info ul-li-block mb-60 clearfix">
      <h2 class="sidebar-title mb-30">Contact
        {{ site_name }}</h2>
      <ul class="clearfix">
        {% if contact_address %}
          <li>
            <span class="icon">
              <i class='uil uil-map-marker'></i>
            </span>
            {{ contact_address }}
          </li>
        {% endif %}
        {% if contact_website %}
          <li>
            <span class="icon">
              <i class='uil uil-envelope-alt'></i>
            </span>
            {{ contact_website }}
          </li>
        {% endif %}
        {% if contact_phone %}
          <li>
            <span class="icon">
              <i class='uil uil-phone'></i>
            </span>
            {{ contact_phone }}
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="social-links ul-li clearfix">
      <h2 class="sidebar-title mb-30">follow us</h2>
      <ul class="clearfix">
        {% if social_facebook %}
          <li>
            <a href="{{ social_facebook }}">
              <i class="fab fa-facebook-f" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}
        {% if social_twitter %}
          <li>
            <a href="{{ social_twitter }}">
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}
        {% if social_pinterest %}
          <li>
            <a href="{{ social_pinterest }}">
              <i class="fab fa-pinterest-p" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}
        {% if social_behance %}
          <li>
            <a href="{{ social_behance }}">
              <i class="fab fa-behance" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="overlay"></div>
</div>
{{ page.page_title }}
{% if page.sidebar %}
  <section id="blog-section" class="blog-section sec-ptb-160 clearfix">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
        {% endif %}
        {{ page.content }}
        {% if page.sidebar %}
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <aside id="sidebar-section" class="sidebar-section clearfix">
            {{ page.sidebar }}
          </aside>
        </div>
      </div>
    </div>
  </section>
{% endif %}
<footer id="footer-section" class="footer-section clearfix" style="background-image: url({{ base_path ~ directory }}/images/footer-bg-1.png);">
  {{ page.footer }}
  <div class="footer-content mb-100 clearfix" data-aos="fade-up" data-aos-duration="450" data-aos-delay="200">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="about-content">
            <div class="brand-logo mb-30">
              <a href="{{ base_path }}" class="brand-link">
                <img src="{{ logo_path }}" alt="logo_not_found">
              </a>
            </div>
            <p class="mb-30">
              Achieve your fitness and exercise goals with Frossard Academy training and coaching expertise.
            </p>
            <div class="social-links ul-li clearfix">
              <ul class="clearfix">
                {% if social_facebook %}
                  <li>
                    <a href="{{ social_facebook }}">
                      <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    </a>
                  </li>
                {% endif %}
                {% if social_twitter %}
                  <li>
                    <a href="{{ social_twitter }}">
                      <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                {% endif %}
                {% if social_pinterest %}
                  <li>
                    <a href="{{ social_pinterest }}">
                      <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                    </a>
                  </li>
                {% endif %}
                {% if social_behance %}
                  <li>
                    <a href="{{ social_behance }}">
                      <i class="fab fa-behance" aria-hidden="true"></i>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          {{ page.footer_menu_1 }}
        </div>
        <div class="col-lg-2 col-md-6">
          {{ page.footer_menu_2 }}
        </div>
        <div class="col-lg-2 col-md-6">
          {{ page.footer_menu_3 }}
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="contact-info ul-li-block clearfix">
            <h3 class="item-title">address</h3>
            <ul class="clearfix">
              {% if contact_phone %}
                <li>
                  <small class="icon">
                    <i class='uil uil-phone-pause'></i>
                  </small>
                  <span class="info-text">{{ contact_phone }}</span>
                </li>
              {% endif %}
              {% if contact_website %}
                <li>
                  <small class="icon">
                    <i class='uil uil-envelope-minus'></i>
                  </small>
                  <span class="info-text">{{ contact_website}}</span>
                </li>
              {% endif %}
              {% if contact_address %}
                <li>
                  <small class="icon">
                    <i class='uil uil-location-point'></i>
                  </small>
                  <span class="info-text">{{ contact_address }}</span>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-bottom clearfix">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p class="copyright-text mb-0">
            {{ page.disclaimer_left }}
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="useful-links ul-li-right clearfix">
            {{ page.disclaimer_right }}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
