<div class="brand-logo">
  <a href="{{ base_path }}" class="brand-link">
    <img src="{{ logo_path }}" alt="logo_not_found">
  </a>
</div>
<section id="error-section" class="error-section clearfix">
  {{ page.content }}
</section>
<div class="social-links ul-li clearfix">
  <h3 class="title-text mb-30">follow us:</h3>
  <ul class="clearfix">
    {% if social_facebook %}
      <li>
        <a href="{{ social_facebook }}">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if social_twitter %}
      <li>
        <a href="{{ social_twitter }}">
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if social_pinterest %}
      <li>
        <a href="{{ social_pinterest }}">
          <i class="fab fa-pinterest-p" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if social_behance %}
      <li>
        <a href="{{ social_behance }}">
          <i class="fab fa-behance" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
  </ul>
</div>
