<div class="brand-logo">
  <a href="{{ base_path }}" class="brand-link">
    <img src="{{ logo_path }}" alt="logo_not_found">
  </a>
</div>
<section id="register-section" class="register-section clearfix">
  <div class="common-container">
    <div class="image-container">
      <img src="{{ base_path ~ directory }}/images/common-1.png" alt="image_not_found">
    </div>
  </div>
  <div class="common-container bg-default-blue">
    <div class="item-content">
      <h2 class="title-text mb-30">{{ page['#title'] }}</h2>
      <p class="mb-60">
        Enter the username or password associated with your account.
      </p>
      <div class="register-form">
        {{ page.content }}
      </div>
    </div>
    <small class="shape-1"><img src="{{ base_path ~ directory }}/images/shapes/cross.png" alt="image_not_found"></small>
    <small class="shape-2"><img src="{{ base_path ~ directory }}/images/shapes/flow-1.png" alt="image_not_found"></small>
    <small class="shape-3"><img src="{{ base_path ~ directory }}/images/shapes/box.png" alt="image_not_found"></small>
    <small class="shape-4"><img src="{{ base_path ~ directory }}/images/shapes/box.png" alt="image_not_found"></small>
    <small class="shape-5"><img src="{{ base_path ~ directory }}/images/shapes/circle-half.png" alt="image_not_found"></small>
    <small class="shape-6"><img src="{{ base_path ~ directory }}/images/shapes/cross.png" alt="image_not_found"></small>
    <small class="shape-7"><img src="{{ base_path ~ directory }}/images/shapes/flow-2.png" alt="image_not_found"></small>
    <small class="shape-8"><img src="{{ base_path ~ directory }}/images/shapes/circle.png" alt="image_not_found"></small>
    <small class="shape-9"><img src="{{ base_path ~ directory }}/images/shapes/circle-half.png" alt="image_not_found"></small>
  </div>
</section>
<div class="social-links ul-li clearfix">
  <h3 class="title-text mb-30">follow us:</h3>
  <ul class="clearfix">
    {% if social_facebook %}
      <li>
        <a href="{{ social_facebook }}">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if social_twitter %}
      <li>
        <a href="{{ social_twitter }}">
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if social_pinterest %}
      <li>
        <a href="{{ social_pinterest }}">
          <i class="fab fa-pinterest-p" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if social_behance %}
      <li>
        <a href="{{ social_behance }}">
          <i class="fab fa-behance" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
  </ul>
</div>
