<div class="ccn-message-container">
  {% for type, messages in message_list %}
    <div class="ccn-message{% if type == 'error' %} ccn-message-error {% else %} ccn-message-status{% endif %}" role="contentinfo" aria-label="{{ status_headings[type] }}" {{ attributes|without('role', 'aria-label') }}>
      <div class="ccn-message-content">
        {% if type == 'error' %}
          <div role="alert">
          {% endif %}
          {% if status_headings[type] %}
            <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
          {% endif %}
          {% if messages | length > 1 %}
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% else %}
            {{ messages|first }}
          {% endif %}
          {% if type == 'error' %}
          </div>
        {% endif %}
      </div>
      <div class="ccn-message-action">
        <button tabindex="0" type="button" aria-label="close">
          <span>
            <svg focusable="false" viewbox="0 0 24 24" aria-hidden="true" role="presentation">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
            </svg>
          </span>
        </button>
      </div>
    </div>
  {% endfor %}
</div>