<li>
  <a href="{{ fields.view_taxonomy_term.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') }}">{{ fields.name.content }}</a>
  <span class="badge float-right">{{ fields.uuid.content }}</span>
</li>
