{%
  set classes = [
    'block',
    'block-menu',
    'navigation',
    'menu--' ~ derivative_plugin_id|clean_class,
  ]
%}
{{ title_prefix }}
{{ title_suffix }}
{% block content %}
  {{ content }}
{% endblock %}
