{% set attributes = attributes.addClass('site-branding') %}
{% block content %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="nav-brand">
	{% if site_logo %}      
		<img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />  
	{% endif %}
      	{% if site_name %}
		{{ site_name }}
	{% endif %}
      	{% if site_slogan %}
        	<div class="site-branding__slogan">{{ site_slogan }}</div>
      	{% endif %}
    </a>
{% endblock %}
