<!DOCTYPE html>
<html>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  {%
    set body_classes = [
      not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    ]
  %}
  <body{{ attributes.addClass(body_classes) }}>
    <div id="thetop"></div>
    <div id="backtotop">
      <a href="#" id="scroll">
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>
    <div id="preloader"></div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
